.fizz-buzz-title{
    text-align: center;
}

.fizz-buzz-message{
    height: 75px;
    display: block;
}
.fizz-buzz-container{
    padding: 50px;
}

.fizz-buzz{

}

.fizz-buzz-action-container{

    padding-top: 20px;
}